@using MambaMVC.Areas.ViewModels
@model List<GetPositionVM>
@{
    int count = 0;
}
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Positions Table</h4>
            <p class="card-description">
                <a asp-action="create" class="btn btn-success">Create Position</a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Employee Count</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var position in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    <p>@count</p>
                                </td>
                                <td>
                                    <p>@position.Name</p>
                                </td>
                                <td>
                                    <p>@position.EmployeeCount</p>
                                </td>
                                <td>
                                    <a class="btn btn-warning" title="Update" asp-controller="position" asp-action="update" asp-route-id="@position.Id"></a>
                                    <a class="btn btn-danger" title="Delete" asp-controller="position" asp-action="delete" asp-route-id="@position.Id"></a>
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
